<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ultra kalkulator</title>
</head>
<body>

<form action="/" method="POST">
    <label>
        A:
        <input type="number"
               name="num_a">
    </label>

    <select name="operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>

    <label>
        b:
        <input type="number"
               name="num_b">
    </label>
    <button type="submit">Wyślij</button>
</form>


</body>
</html>